@{
    ViewData["Title"] = "Home Page";
}

<link href="/Content/bootstrap.css" rel="stylesheet" />
<link href="/Content/site.css" rel="stylesheet" />

<br />
<br />
<center>
    <h3>The biggest word in the json file is </h3>
    <h1>@ViewBag.Message</h1>
</center>

<br />

<div id="Table"></div>









<partial name="_scripts" />